:root {
  --branding-color: #e47946;
  --secondary-color: #f9f7fe;
  --color3: #f3cd91;
  --color4: #fbb874;
  --color5: #008c95;
  --heading-font-family: "Playfair Display", serif;
  --deafult-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--deafult-font-family);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

/* Background color-changing Animation */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* end */

a {
  position: relative;
  padding: 10px 30px;
  margin: 10px 0;
  color: var(--branding-color);
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  transform: 0.2s;
}

a::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 10px;
  height: 10px;

  transition: 0.5s;
  transition-delay: 0.5s;
}

a::after {
  content: " ";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 10px;
  height: 10px;

  transition: 0.5s;
  transition-delay: 0.5s;
}

a:hover::before,
a:hover::after {
  transition-delay: 0s;
}

a:hover {
  color: #000;
  box-shadow: 0 0 50px var(--branding-color);
  transition-delay: 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
p {
  font-family: var(--deafult-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

#photo {
  margin: 30px auto;
  border-radius: 30px;
  width: 50%;
  display: block;
}

img {
  margin: 30px auto;
  border-radius: 30px;
}

footer .contact-box {
  border: 2px solid var(--branding-color);
  padding: 10px 120px;
  border-radius: 10px;
  background: var(--color3);
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  margin: 20px 0;
  padding: 0;
  transition: all 100ns ease-in-out;
}

footer .email-link:hover {
  box-shadow: none;
  text-decoration: underline;
  color: var(--branding-color);
  background: none;
}

footer .social-links a {
  font-size: 18px;
  margin: 0 20px;
  padding: 8px 12px;
  background: var(--secondary-color);
  color: var(--branding-color);
  border-radius: 50%;
  transition: all 100ns ease-in-out;
}

footer .social-links a:hover {
  box-shadow: none;
  text-decoration: none;
  color: var(--secondary-color);
  background: var(--branding-color);
  transition: all 100ns ease-in-out;
}

/* Letter wave animation */

.wave {
  margin-top: 30px;
  margin-bottom: 80px;
  text-align: center;
  font-size: 60px;
  color: white;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(255, 0, 0, 0.3));
}
.wave span {
  display: inline-block;
  animation: wave-anim 2s infinite;
  animation-delay: calc(0.1s * var(--item));
}

@keyframes wave-anim {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}
/* end */

/* Wave Background Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/* end */
.hero {
  text-align: center;
  padding: 30px 20px;
}
.hero p {
  font-family: var(--deafult-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--deafult-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.content-container h1 {
  text-align: left;
  font-size: 32px;
  line-height: 80px;
}
.content-container h2 {
  font-size: 24px;
  text-align: left;
}

.content-container p {
  font-size: 18px;
  text-align: left;
}
.content {
  margin: 30px;
  text-align: center;
}

.content a {
  box-shadow: none;
  color: var(--color3);
  background: var(--branding-color);
}
.content a:hover {
  box-shadow: none;
  background: var(--color3);
  color: var(--branding-color);
}
.content h1 {
  font-family: var(--deafult-font-family);
  line-height: 1.5;
}
.content h2 {
  font-family: var(--deafult-font-family);
  line-height: 1.5;
}
.content p {
  font-size: 14px;
}

.container {
  /*background: var(--secondary-color);*/
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.project-description {
  padding: 120px 60px;
}

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  color: white;
}
.header h1 {
  color: white;
  font-family: var(--deafult-font-family);
}

.header h3 {
  color: white;
  font-family: var(--deafult-font-family);
  text-shadow: #272142;
}

.header a {
  color: blue;
}
.header a:hover {
  box-shadow: none;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.background-waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content2 {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
  font-size: 50px;
}

@media (max-width: 700px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }
  h2 {
    font-size: 44px;
  }

  h4 {
    font-size: 26px;
  }

  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .content-container h1 {
    text-align: center;
    padding: 0;
  }
  .content-container h2 {
    text-align: center;
    padding: 0;
  }
  .content-container p {
    text-align: center;
    padding: 0;
  }

  .background-waves {
    height: 40px;
    min-height: 40px;
  }
  .content2 {
    height: 30vh;
  }
}
